/* 기본 초기화 */
body { margin: 0 auto;}
h1, h2, h3, div, a, p, ul, li, span { color : black; padding: 0; margin: 0; }
a { text-decoration: none;} 
li { list-style: none; }
button { padding: 0;}

/* IR 기법 - Phark Method. 의미있는 대체 텍스트 제공 */
.ir_pm {display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px;} 