/* 색상 변수 */
:root {
  --suwon-navy: rgb(0,54,112);
  --suwon-deep-yellow: rgba(233,184,0);
}

/* header */
header {}
header .languages { height: 30px;}
header .languages .wrap { display: flex; justify-content: right; width: 1200px; margin: 0 auto; }
header .languages .wrap li a { color: gray; font-weight: 500; font-size: 15px;margin-left: 10px; }
header .languages .wrap li a:hover { text-decoration: underline; }
header nav { background: var(--suwon-navy); height: 75px; text-align: center; line-height: 5px;}
header nav > .wrap { display: inline-flex; justify-content: space-between; align-items: center; width: 1200px; height: 100%;}
header nav .wrap .logo { width: 100px; height: 42px; background: url(../img/logo.png); background-size: cover; cursor: pointer; }

header nav .wrap .menu { height: 75px; }
header nav .wrap .menu > ul {display: flex; justify-content: space-between; align-items: center; width: 750px; height: 75px; font-size: 1em; font-weight: 700; }
header nav .wrap .menu > ul > li { position: relative; display: inline-block; color: #fff; cursor: pointer; height: 100%; line-height: 75px;}

/* 드롭다운 메뉴 */
.menu1 { position: relative; }
.menu1:hover .wrap { display: inline-block;}
.menu1 .wrap { display: none; position: absolute; top : 75px; left: -170px; background: white; width: 1200px; height: 525px; cursor:  default; z-index: 1; }
.menu1_title { box-sizing:border-box; float: left; width: 265px; height: 100%; background: var(--suwon-deep-yellow) url(../img/bg_gnbtitle.png) no-repeat bottom right; padding-top: 50px; }
.menu1_title > p { padding-left: 20px;}
.menu1_title p:first-child { font-size: 17px; font-weight: lighter; height: 50px; } 
.menu1_title p:last-child { font-size: 38px; color: white; font-weight: lighter; } 
.menu1_list { display: inline-block; width: 935px; height: 100%; }
.menu1_list > div { display: flex; justify-content: space-around;}
.menu1_list .first { height: 60%; }
.menu1_list .second { height: 35%; margin-top: 25px;}
.menu1_list > div div { width: 18%; }
.menu1_list > div ul li { line-height: 150%; height: 25px; text-align: left; font-size: 14px; padding: 3px 0;}
.menu1_list > div ul li a { color: #666;}
.menu1_list > div ul li:first-child a:hover { text-decoration: none;}
.menu1_list > div ul li a:hover { text-decoration: underline; color: var(--suwon-deep-yellow);}
.menu1_list > div ul li:first-child { height: 35px; line-height: 35px; padding: 8px 0 5px; border-bottom: solid gray; border-width: thin thick; margin-bottom: 5px; }
.menu1_list > div ul li:first-child a { font-size: 17px; color: var(--suwon-navy);}

header nav .wrap .search { display: flex; justify-content: space-around; align-items: center; width: 200px; height: 33px; right: 0px; background: #fff; padding: 0; }
header nav .wrap .search input {height: 80%; padding: 0; border: 0; float: left;}
header nav .wrap .search input:focus { outline: 3px dotted skyblue;}
header nav .wrap .search span { background: url(../img/icon_tnbsch.png) var(--suwon-navy) no-repeat; background-size: 55%; background-position: 7px 7px; width: 30px; height: 30px; right: 1px;}
header nav .wrap .search span:hover { cursor: pointer; }

/* 메인 슬라이드 배너 */
.slide-banner { width: 1400px; height: 580px; padding: 20px 0; overflow-x: hidden; margin: 0 auto; }
.slide-banner .wrap { position: relative; }
.slide__img { display: flex; width: 5600px; }
.slide__img > div { width: 1400px; height: 580px; }
.slide__img .slide1 { background: url(../img/visual_img04.jpg) no-repeat; background-size: 1400px 580px; transition: .5s;}
.slide__img .slide2 { background: url(../img/visual_img09.jpg) no-repeat; background-size: 1400px 580px;}
.slide__img .slide3 { background: url(../img/visual_img202203.jpg) no-repeat; background-size: 1400px 580px;}
.slide__img .slide4 { background: url(../img/visual_img08.jpg) no-repeat; background-size: 1400px 580px;}
.slide__img h2 { padding-top: 150px; padding-left: 200px; color: white; font-size: 40px; text-shadow: 2px 2px 5px black; }
.slide__img p { padding-top: 10px; padding-left: 200px; color: white; font-size: 23px; text-shadow: 2px 2px 5px black; }
.slide__button { display: inline-block; position: absolute;  left: 540px; bottom: 10px; }
.slide__button ul { display: flex; justify-content: space-between; width: 320px;}
.slide__button ul li button { width: 52px; height: 52px; background: none; border: none; cursor: pointer; }
.slide__button ul li button img { width: 52px; height: 52px; }

/* 수원대 뉴스 */
.usw_news { width: 1500px; margin: 0 auto; }
.usw_news .wrap { width: 1200px; background: #FBFCFE; margin: 0 auto; }
.usw_news .wrap h2 { position: relative; height: 41px; font-size: 28px; text-align: center; margin-bottom: 30px; }
.usw_news .wrap h2 a { position: absolute; right: 10px; top: 10px; display: inline-block; background: url(../img/btn_more.png) no-repeat; width: 25px; height: 25px; background-size: contain; }
.usw_news ul { display: flex; justify-content: space-between; height: 305px; }
.usw_news .news_list2 { height: 0px; overflow: hidden; transition-property: height; transition-duration: .5s;}
.usw_news ul li { position: relative; width: 285px; height: 285px;}
.usw_news ul li a { display: block; height: 100%; }
.usw_news ul li p { position: absolute; bottom: 0; width: 100%; height: 60px; font-size: 16px; line-height: 57px; text-align: center; color: white; background: black; opacity: 0.6; }
.usw_news ul li span { display: none; height: 100%; text-align: center; background: rgba(0, 0, 0, 0.5); color: black; }
.usw_news ul li:hover span { display: block; }
#news1 { background: url(../img/20220707041232529_6587.0.jpg) no-repeat; background-size: contain;}
#news2 { background: url(../img/20220707014104818_8452.0.jpg) no-repeat; background-size: contain;}
#news3 { background: url(../img/20220623032950460_9333.0.jpg) no-repeat; background-size: contain;}
#news4 { background: url(../img/20220620051555669_891.0.jpg) no-repeat; background-size: contain;}
#news5 { background: url(../img/20220609103244861_9741.0.jpg) no-repeat; background-size: contain;}
#news6 { background: url(../img/20220609102602870_5179.0.jpg) no-repeat; background-size: contain;}
#news7 { background: url(../img/20220609102007859_9664.0.jpg) no-repeat; background-size: contain;}
#news8 { background: url(../img/20220609101633039_1503.0.jpg) no-repeat; background-size: contain;}
.news__button { position: relative; }
.news__button a { display: block; width: 100%; height: 37.5px; border: 1px solid gray; text-align: center; line-height: 37.5px; background: #FBFCFE;}
.news__button span { position: absolute; display: inline-block; width: 13px; height: 13px; background: url(../img/show_btn.png) no-repeat ; background-size: contain; top: 14px; right: 560px; }
.news__button a:visited + span { background: yellow }

/* 언론 속의 수원대 */
.usw_in_press { width: 1200px; margin: 42px auto 0; }
.usw_in_press .wrap > h2 { position: relative; height: 41px; font-size: 28px; text-align: center; margin-bottom: 30px; }
.usw_in_press .wrap > h2 a { position: absolute; right: 10px; top: 10px; display: inline-block; background: url(../img/btn_more.png) no-repeat; width: 25px; height: 25px; background-size: contain; }
.press_list { display: flex; justify-content: space-between; }
.press_list li { width: 375px; height: 344px; }
.press_list li a { position: relative; display: block; height: 100%; }
#press1 { background: url(../img/20220610100811449_6659.0.jpg) no-repeat; background-size: contain;}
#press2 { background: url(../img/20220609102929671_9885.0.jpg) no-repeat; background-size: contain;}
#press3 { background: url(../img/20220609102241587_3303.0.jpg) no-repeat; background-size: contain;}
.press_list h2 { position: absolute; width: 100%; height: 45px; bottom: 80px; border-bottom: 1px solid var(--suwon-deep-yellow); font-size: 19px; font-weight: 800; }
.press_list p { position: absolute; bottom: 20px; width: 100%; font-size: 17px; text-align: left; }
.press_list li:nth-child(2) p { bottom: 0; }

/* 학교 공지 및 학사일정 */
.notice { width: 1200px; margin: 80px auto 0; }
.notice .wrap { display: flex; justify-content: space-between; width: 100%; }
.notice .univ_notice { position: relative; width: 760px; border-bottom: 1px solid gray; overflow-x: hidden; }
.notice .univ_notice > ul { display: inline-flex; justify-content: space-between; }
.notice .univ_notice > ul > li { width: 104px; height: 46px; text-align: center; border-bottom: 1px solid black; }
.notice .univ_notice > ul > li > a { display:block; width: 100%; height: 100%; font-size: 16px; white-space: nowrap; line-height: 46px; } 
.notice .univ_notice > ul > li:nth-child(6) > a { font-size: 15px; } 
.notice .univ_notice > ul > li > a:focus { color: gray; }
.notice .univ_notice .more { position: absolute; display: inline-block; width: 25px; height: 25px;  background: url(../img/btn_more.png) no-repeat; background-size: contain; top: 10px; left: 735px; }
.notice__list { display: flex; width: 5320px;}
.notice__list ul { width: 760px; }
.notice__list ul li { height: 43px; line-height: 43px; padding: 3px 0 3px 15px; }
.notice__list ul li a { display: flex; justify-content: space-between; width: 710px; border-bottom: 1px dotted gray; }
.notice__list ul li:last-child a { border: none; }
.notice__list ul li a p { font-size: 0.8vw; }
.notice__list ul li a p:first-child { width: 103px; }
.notice__list ul li a p:last-child { width: 650px; }
.univ_skedule { width: 400px; }
.univ_skedule h2 { position: relative; font-size: 16px; height: 21px; padding: 13px 0; border-bottom: 1px solid black; }
.univ_skedule h2 a { position: absolute; display: inline-block; width: 25px; height: 25px; background: url(../img/btn_more.png) no-repeat; background-size: contain; right: 0px; }
.univ_skedule ul { height: 243px; border-bottom: 1px solid gray;}
.univ_skedule ul li { height: 20%; padding: 15px 0; border-bottom: 1px dotted gray; }